<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use the category attribute to set the tab name -->
    <title>...</title>
    <!-- Link to style.css -->
    
  </head>
  <body>
    <div class="header">
      <!-- Use the category attribute to set the header -->
      <h1>...</h1>
    </div>

    <nav>
      <a href="/">Home</a>
      <a href="/mens">Men's Clothing</a>
      <a href="/womens">Women's Clothing</a>
    </nav>
    
    <h2 class="center">Featured Items</h2>
    <div class="section">
      <!-- Modify the following to make one item card for each element of the items array -->
      <!-- You should use the values from data to dynamically populate the image, item name, cost, and path -->
      
      <div class="item-card">
        <img src="..." />
        <h3>...</h3>
        <p>$...</p>
        <a href="...">More info</a>
      </div>

    </div>
  </body>
</html>
