<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Link to style.css -->
  
</head>
<body>
    <div class="header">
        <h1>Product Details</h1>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/mens">Men's Clothing</a>
        <a href="/womens">Women's Clothing</a>
    </nav>

    <div>
        <!-- Use the name attribute to set the h2 -->
        <h2 class="center">...</h2>
        <!-- Use the imageUrl attribute to fix the image -->
        <img src="..." class="main-image">
        <div class="color-options">
          <!-- PINK ONLY: Iterate over the colors array to make a color-option div for each color. Plug in the color into the background-color slot. -->

            <div class="color-option" style="background-color: ...;"></div>

        </div>
        <!-- Use the cost attribute to set the p tag -->
        <p class="center">$...</p>

        <!-- Use conditions to show the first button if the quantity is over 0. Otherwise, show the Sold Out button. -->

           <!-- Extra credit: Add JS such that when the Buy Now button is clicked, you add HTML underneath it that says "Added to cart" (review DOM manipulation!) -->

          <button class="buy-now-button center">Buy Now</button>
        
          <button class="buy-now-button" disabled>Sold Out</button>
      
  
    </div>

</body>
</html>
