<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Link to style.css -->

    <!-- Link Bootstrap CSS -->
    
</head>
<body>
    <!-- Copy same navbar as in category.ejs -->

    
    <!-- Bring in Bootstrap carousel with the images -->



    <!-- Plug in the item name -->
    <h1>...</h1>

    <!-- Create the if/else conditions with Bootstrap buttons -->



    <!-- Link Bootstrap JS -->

</body>
</html>
